@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Lemon&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* set the body to center everything in the middle of the screen*/
body {
    background-color: darkolivegreen;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    text-align: center;
    font-family: serif, sans-serif;
}

/*main box holding the whole game interface*/
.container{
    background-color: honeydew;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    width: 100%;
    max-width: 500px;
}
h1 {
    margin-bottom: 20px;
    font-size: 1.6rem;
    font-family: lemon, sans-serif;
}

.scoreboard {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.choices-display {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    font-size: 1rem;
    font-family: sans-serif, serif;
}
.game-button {
    display: grid;
    grid-template-columns: auto-fit, minmax(100px,1fr);
    gap: 15px;
    margin-bottom: 20px;
}

/*style for each choice button*/
button.choice {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    background-color: #444c60;
    color: azure;
}

/*hover effect to highlight the buttons when hovered*/
button.choice:hover{
    background-color: black;
}

/*style for the message*/
.message {
    margin-bottom: 20px;
    font-size: 1rem;
    font-family: sans-serif, serif;
}

/*style for the reset game button*/
#reset {
    background-color: #ff5e5e;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    color: azure;
    cursor: pointer;
}
#reset:hover {
    background-color: red;
}

/*smaller screen styles*/
@media(max-width:500px) {
    .game-button{
        grid-template-columns: 1fr 1fr;
    }
    h1{
        font-size: 1.5rem;
    }
}