@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Lemon&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* set the body to center everything in the middle of the screen*/
body {
    background-color: yellowgreen;
    color: #000;
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 20px;
    text-align: center;
    font-family: serif, sans-serif;
}

/*main box holding the whole game interface*/
.container{
    background-color: honeydew;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    width: 100%;
    max-width: 500px;
}